<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Final Project">
    <meta name="keywords" content="HTML5, Responsive">
    <link rel="stylesheet" href="styles.css">
    <title>CMSC335 Final Project</title>
    <link href="https://fonts.cdnfonts.com/css/movie-star-2" rel="stylesheet">
</head>

<body>
        <h1 id ="title"> Streaming <br> Service Searcher</h1>
        <h2 id="explanation">Search across over 20 streaming services for movies and TV shows!</h2>
        <hr> 
        <div class="menu">
            <ul>
                <li><a href="/SearchMovies">SEARCH MOVIES</a></li>
                <li><a href="/SearchShows">SEARCH SHOWS</a></li>
                <li><a href="/ViewAllRecentSearches">VIEW ALL RECENT SEARCHES</a></li>
                <li><a href="/ViewYourRecentSearches">VIEW YOUR RECENT SEARCHES</a></li>
            </ul>
        </div>
</body>

</html>
