<!doctype html>
<html lang="en">

    <head>
        <title>Search Shows</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.cdnfonts.com/css/movie-star-2" rel="stylesheet">
    </head>

    <body>
        <h1 id = title>Search Shows</h1>
        <h2 class="explanation"> Search all streaming services for a show! </h2>
        <div class="form">
            <form method="post" action= "https://streaming-service-searcher.onrender.com/SearchShows">
                <fieldset id = "fs">
                    <strong>Your Name: </strong><input type="text" name="name" required>
                    <br>
                    <br>
                    <strong>Your Email Address: </strong><input type="email" name="email" required>
                    <br>
                    <br>
                    <strong>Show Title: </strong><input type="text" name="title" required>
                    <br>
                </fieldset>
                <br>
                <div class="moviesShowsButtons">
    
                    <input type="reset" class="clickButtons"> <br>
                    <input type="submit" value= "See Show Details!" class="clickButtons"> <br>
                    <input type="button" value="Back to Home Page" onclick="toHome()" class="clickButtons">
            
                </div>
            </form>
        </div>        
    </body>

    <script>
        function toHome() {
            window.location.href = '/'; // back to main page 
        }
    </script>

</html>
